* {
  padding: 0;
}

.logo {
  width: fit-content;
  margin-right: 10px;
}

.navbar {
  background-color: yellow !important;
}

#login {
  position: absolute;
  margin-left: 90%;
  margin-right: 5px;
}