form, th, td, table {
    padding: 10px;
}

div.row {
    justify-content: center;
}

.carousel-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: gray;
}

#carouselExample {
  margin-top: 20px;
}

#categories {
  min-width: 200px;
}

#paginacion {
  text-align: center;
  margin-top: 20px;
}

#masProductos {
  cursor: pointer;
}